<%- include("../partials/head", { title: "Productos" }) %>
<%- include("../partials/header") %>

<main class="main">

  <div class="tabs">
    <a href="/products" class="tab <%= !category ? 'active' : '' %>">Todos</a>
    <a href="/products?category=1" class="tab <%= category == 1 ? 'active' : '' %>">Teclados</a>
    <a href="/products?category=2" class="tab <%= category == 2 ? 'active' : '' %>">Mouse</a>
    <a href="/products?category=3" class="tab <%= category == 3 ? 'active' : '' %>">Headsets</a>
    <a href="/products?category=4" class="tab <%= category == 4 ? 'active' : '' %>">Juegos PC</a>
  </div>

  <h2>Listado de Productos</h2>

  <div class="products-container">

    <% if (!products || products.length === 0) { %>
      <p>No hay productos disponibles.</p>
    <% } %>

    <% products.forEach(product => { %>

  <div class="product-card">

    <% if(product.type === "digital"){ %>
      <span class="badge digital">DIGITAL</span>
    <% } else { %>
      <span class="badge fisico">FÍSICO</span>
    <% } %>

    <div class="card-content">

    <img src="/images/products/<%= product.images[0] %>">

    <h3><%= product.name %></h3>

    <div class="price-block">

  <% if(product.discount && product.discount > 0){ %>

    <p class="old-price">
      $ <%= Math.round(product.price / (1 - product.discount / 100)) %>
    </p>

    <p class="price">$ <%= product.price %></p>

    <p class="discount"><%= product.discount %>% OFF</p>

  <% } else { %>

    <p class="old-price invisible">$ 0</p>
    <p class="price">$ <%= product.price %></p>
    <p class="discount invisible">0% OFF</p>

  <% } %>

  </div>
</div>

    <% if(product.type === "digital"){ %>
      <p class="digital">Descarga inmediata</p>
    <% } else if(product.stock > 0){ %>
      <p class="stock available">En stock</p>
    <% } else { %>
      <p class="stock unavailable">Sin stock</p>
    <% } %>
      <p class="low-stock <%= (product.stock > 0 && product.stock <= 3) ? 'visible' : '' %>">¡Últimas unidades!</p>

    <p class="category">
      <%= product.category ? product.category.name : "Sin categoría" %>
    </p>

    <p class="brand">
      <%= product.brand ? product.brand.name : "Sin marca" %>
    </p>

<div class="cart-actions">

  <a href="/products/<%= product.id %>" class="btn btn-primary">
    Ver detalle
  </a>

      <button 
        class="btn btn-secondary add-to-cart <%= product.stock === 0 && product.type !== 'digital' ? 'disabled' : '' %>" 
        data-id="<%= product.id %>"
        <%= product.stock === 0 && product.type !== 'digital' ? 'disabled' : '' %>
        >
        <%= product.stock === 0 && product.type !== 'digital' ? 'Producto agotado' : 'Agregar al carrito' %>
      </button>

  <% if (userLogged && userLogged.role === "admin") { %>
    <div class="admin-actions">

      <form action="/products/<%= product.id %>/edit" method="GET">
        <button type="submit" class="btn btn-edit">Editar</button>
      </form>

      <form action="/products/<%= product.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>

    </div>

    <% } %>

  </div>

  </div>

<% }) %>

</main>

<div class="create-product">
  <% if (userLogged && userLogged.role === "admin") { %>
    <a href="/products/create" class="btn btn-primary">Crear Nuevo Producto</a>
  </div>
<% } %>
</div>

<%- include("../partials/footer") %>